{% extends "lead/base.html" %}
<title>
  {% block title %} List of Leads {% endblock title %}
</title>

<body>
  <div class="container">
    {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron p-3 mt-2">
            <div class="buttons">
              <a href="{% url 'lead_new' %}" class="btn btn-sm-mobile text-left btn-primary my-1">NEW LEAD</a>
            </div>

            <hr />
            <div class="filters">
              <p>Filter by</p>
              <div class="row">
                <div class="col-12 col-md-3">
                  <!-- Example single danger button -->
                  <div class="btn-group btn-filters my-1">
                    <button type="button" class="btn btn-secondary text-dark dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Source
                    </button>
                    <div class="dropdown-menu">
                      {% for s in source %}
                      <a class="dropdown-item" href="?source={{ s.name }}">{{s.name}}</a>
                      <div class="dropdown-divider"></div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3">
                  <div class="btn-group btn-filters my-1">
                    <button type="button" class="btn btn-secondary text-dark dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Assigned
                    </button>
                    <div class="dropdown-menu">
                      {% for s in status %}
                      <a class="dropdown-item" href="?status={{ s.name }}">{{s.name}}</a>
                      <div class="dropdown-divider"></div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>



            </div>
            <div class="row">
              <div class="col-12">{% include 'lead/tables.html' with leads=lead_list %}</div>
            </div>

          </div>
          <div class="jumbotron px-3 py-2 mt-2 mb-1 d-flex justify-content-end">
            <nav aria-label="Page navigation">
              <ul class="pagination m-0 ">
                <li class="page-item">
                  {% if lead_list.has_previous %}
                  <a class="page-link" href="?page={{ lead_list.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                  {% endif %}
                </li>
                <li class="page-item">
                  <a class="page-link" disabled>{{lead_list.number}}</a>
                </li>
                <li class="page-item">
                  {% if lead_list.has_next %}
                  <a class="page-link" href="?page={{ lead_list.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                  {%endif %}
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}
  </div>
</body>
<!-- <select class="custom-select mb-1">
                    <option selected>Source</option>
                    {% for s in source %}
                    <a href="?source={{ s.name }}">
                      <option value="{{s.name}}">{{s.name}}</option>
                    </a>
                    {% endfor %}
                  </select> -->