<div class="row mt-2">
  <div class="col-8">
    <div class="card">
      <h5 class="card-header text-light bg-primary">{{lead.name}}</h5>
      <div class="card-body">
        <a
          href="{% url 'lead_edit' pk=object.pk %}"
          class="btn btn-warning mr-1 my-1"
          >Edit <i class="fas fa-pencil-alt"></i
        ></a>
        <a
          href="{% url 'lead_remove' pk=object.pk %}"
          class="btn btn-danger mr-1  my-1"
          >Delete <i class="fas fa-trash"></i
        ></a>
        <hr />
        <section role="leadinformation">
          <ul class="list-group">
            <li class="list-group-item">
              Name: {{object.name}}
            </li>
            <li class="list-group-item">
              location: {{object.location}}
            </li>
            <li class="list-group-item">
              phonenumber: {{object.phonenumber}}
            </li>
            <li class="list-group-item">
              email: {{object.email}}
            </li>
            <li class="list-group-item">
              description: {{object.description}}
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
  <div class="col-4">
    <h2 class="text-primary text-center">Tasks</h2>
    {% for task in task_count %}
    <div class="card mb-2">
      <h5 class="card-header bg-primary">
        <a class="text-light" href="{% url 'task_detail' pk=task.pk %}"
          >{{task.title}}</a
        >
      </h5>
      <div class="card-body">
        <section role="leadinformation">
          Description: {{task.description}}
        </section>
      </div>
    </div>

    {% endfor %}
  </div>
</div>
