<div class="pos-f-t">
    <nav id='top' class="navbar navbar-expand navbar-dark bg-dark p-0">
        <button class="navbar-toggler px-2" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand p-0 m-0" href="#">
            <img id='bimg' class="img-fluid" src="/media/bpro.png" alt='image' />
        </a>
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" data-toggle="modal" data-target="#exampleModalScrollable" data-toggle="tooltip"
                data-placement="bottom" title="Tasks" href="#"><i class="far fa-sm-lg fa-check-circle text-light"></i>
                {% if task_count %}
                <sup>
                    <span class="badge badge-success">
                        {{task_count|length}}
                    </span>
                </sup>
                {% endif %}
            </a>
            <a class="nav-item nav-link " data-toggle="modal" data-target="#Reminder" data-toggle="tooltip"
                data-placement="bottom" title="Reminders" href=" #"><i class="far fa-sm-lg fa-clock text-light"></i>
                {% if reminders %}
                <sup><span class="badge badge-success">{{reminders|length}}</span></sup>
                {% endif %}
            </a>
            <div class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDrop" data-toggle="dropdown">
                    <i class="fas fa-sm-lg fa-chevron-down text-light"></i>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a>
                    {% if request.user.is_staff %}
                    <a href="{% url 'report' %}" class="dropdown-item">Reports</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </nav>

</div>
<div class="sidenav">
    <a class="text-light" href="{% url 'lead_list' %}">
        <i class="fas text-light fa-home"></i>
        Leads
    </a>
    <hr>
    <a class="text-light" href="{% url 'user_profile' %}">
        <i class="far text-light fa-user"></i>
        Profile
    </a>
    <hr>
    {% if request.user.is_staff %}
    <a class="text-light" href="{% url 'report' %}">
        <i class="fas fa-file-pdf text-light"></i>
        Report
    </a>
    <hr>
    {% endif %}
</div>